
@{
    ViewBag.Title = "Lista studenti";
}
<h2>@ViewBag.Title</h2>
@foreach (var student in ViewBag.Students)
{
    <p><b>Nume de familie: </b>@student.Nume</p>
    <p><b>Prenume: </b>@student.Prenume</p>
    <p><b>An de studiu:</b> @student.AnStudiu</p>
    <p><i>Cursuri </i>la care studentul este <b>inrolat</b>:</p>
    foreach (var curs in ViewBag.Curses)
    {
        foreach (var cursstudent in ViewBag.CursStudents)
        {

            if(cursstudent.CursId == curs.CursId && cursstudent.StudentId == student.StudentId)
            {
                <p>@curs.Nume</p>
                break;
            }
        }
    }
    <a href="/Students/Show/@student.StudentId">Afisare student</a>
    <br />
    <hr />
    <br />
}
<a href="/Students/New">Adauga alt student</a>
<br />