
<div class="container" style="display:inline-flex">
    <div style="height: 140px; width: 350px; display: flex; align-items: center; ">
        <p style=" margin: 0px -17px 8px; font-size: 46px; font-weight: 500; line-height: 100%;"><b>Afisare curs</b></p>

    </div>
</div>
<div>
    <p><strong>Titlu curs: </strong>@Model.Nume</p>
    <p><strong>Titular curs:</strong>@Model.ProfesorTitular.Nume @Model.ProfesorTitular.Prenume</p>
</div>
<div>
    <strong>Lista studenti inscrisi:</strong>
    @foreach(moodlie.Models.Student student in ViewBag.Students)
    {
        <div>
            @student.Nume @student.Prenume
        </div>
    }
</div>
@if (User.IsInRole("Admin"))
{
    <a href="/Curses/NewStudent/@Model.CursId">Adaugare student la acest curs</a>
}
